<a href="https://colab.research.google.com/github/ashithapallath/Python-Lab/blob/main/Untitled8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Reverse of a given number

In [ ]:
a=int(input('Enter a number : '))
revnum=0
print('Entered number is : ',a)
while(a>=1):
  x=a%10
  revnum=(revnum*10)+x
  a=int(a/10)
print('Revers number is ',revnum)

Enter a number : 123
Entered number is :  123
Revers number is  321

2.Sum of first N natural number

In [ ]:
n=int(input('Enter the Nth natural number'))
print('Sum is ',n*(n+1)/2)

Enter the Nth natural number100
Sum is  5050.0

3.Sum of factors of a number

In [ ]:
num=int(input('Enter a number : '))
print('Entered number is : ',num)
sum = 0
c = 2
while(c<=num/2+1):
  if(num%c==0):
    sum=sum+c
  c=c+1
print('Sum of factor is : ',sum)

Enter a number : 16
Entered number is :  16
Sum of factor is :  14

4.To print N terms of an arithmetic sequence

In [ ]:
f=float(input('Enter the first number :'))
d=float(input('Enter the common difference'))
n=float(input('Enter the number of terms'))
c=1
while(c<=n):
  term=f+((c-1)*d)
  print(term)
  c=c+1

Enter the first number :20
Enter the common difference3
Enter the number of terms10
20.0
23.0
26.0
29.0
32.0
35.0
38.0
41.0
44.0
47.0

5.To print N terms of fibonacci series

In [ ]:
n=int(input('Enter the number of terms :'))
n1=0
n2=1
if(n==1):
  print(n1)
elif(n==2):
  print(n1)
  print(n2)
else:
  print(n1)
  print(n2)
  while(n>2):
    temp=n1
    n1=n2
    n2=n2+temp
    print(n2)
    n=n-1

Enter the number of terms :50
0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765
10946
17711
28657
46368
75025
121393
196418
317811
514229
832040
1346269
2178309
3524578
5702887
9227465
14930352
24157817
39088169
63245986
102334155
165580141
267914296
433494437
701408733
1134903170
1836311903
2971215073
4807526976
7778742049

6.To check the number is paliandrome or not

In [ ]:
revnum=0
num=int(input('Enter a number :'))
n=num
while(n>=1):
  x=n%10
  revnum=(revnum*10)+x
  n=n//10
print('Reverse number is : ',revnum)
if(num==revnum):
  print('It is a palliandome number')
else:
  print('It is not a palliandrome number')

Enter a number :121
Reverse number is :  121
It is a palliandome number

7.To check number is armstrong or not

In [ ]:
num=int(input('Enter a Number: '))
temp=num
temp2=num
c=0
sum=0
while(temp!=0):
  c=c+1
  temp=temp//10
while(temp2!=0):
  x=temp2%10
  sum=sum + pow(x,c)
  temp2=temp2//10
if(num==sum):
  print(num,' is an amstrong number')
else:
  print(num,' is not an amstrong number')

Enter a Number: 729
729  is not an amstrong number

8.Evaluate 'x'

In [ ]:
x=int(input('Enter the number : '))
n=int(input('Enter the power : '))
p=1
c=0
while(c!=n):
  p=p*x
  c=c+1
print('X^n : ',p)

Enter the number : 4
Enter the power : 2
X^n :  16

9.To print first odd numbers

In [ ]:
f=1
c=0
n=int(input('Enter the number : '))
while(c!=n):
  print(f)
  c=c+1
  f=f+2

Enter the number : 10
1
3
5
7
9
11
13
15
17
19

10.To print GCD of 2 numbers

In [ ]:
n1=int(input('Enter the first number : '))
n2=int(input('Enter the second number : '))
gcd=0
c=0
while(c<n1):
  c=c+1
  if(n1%c==0 and n2%c==0):
    gcd=c
if(gcd==0):
  print('No GCD')
else:
  print('GCD is : ',gcd)

Enter the first number : 16
Enter the second number : 9
GCD is :  1

11.To print factorial of a given number

In [ ]:
num=int(input('Enter the number : '))
n=1
if(num==0):
  print('Factorial of the number is 1')
else:
  while(num>1):
    n=n*num
    num=num-1
  print('Factorial of the number is : ',n)

Enter the number : 21
Factorial of the number is :  51090942171709440000

12.To print squares of natural numbers between 2 numbers

In [ ]:
num1=int(input('Enter the first number : '))
num2=int(input('Enter the last number : '))
while(num1<=num2):
  sqr=num1*num1
  num1=num1+1
  print(sqr)

Enter the first number : 2
Enter the last number : 10
4
9
16
25
36
49
64
81
100

13.Program to find the sum of the given series, up to n terms. S = 1 - 4 + 9 - 16 + ....

In [ ]:
n=int(input('Enter the number of terms : '))
c=1
sum=0
sign=1
while(c<=n):
  temp=sign*(c**2)
  sum=sum+temp
  sign=sign*(-1)
  c=c+1
print('Toyal sum is : ',sum)

Enter the number of terms : 5
Toyal sum is :  15

14.Program to check whether a given number is Automorphic or not.

In [ ]:
num=int(input('Enter the num : '))
c=0
sqr=num*num
temp=num
while(temp>=1):
  c=c+1
  temp=temp//10
if(num==sqr%10**c):
  print(num,' is Automorphic')
else:
  print(num,' is not Auotomorphic')

Enter the num : 6
6  is Automorphic

15.Program to read a binary number and print its decimal equivalent.

In [ ]:
bi=int(input('Enter the binary number : '))
c=0
deci=0
while(bi>=1):
  remn=bi%10
  bi=bi//10
  deci=deci+remn*2**c
  c=c+1
print('Dcimal number is : ',deci)

Enter the binary number : 10001
Dcimal number is :  17